*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Urbanist-Medium;
  src: url(/fonts/Urbanist-Medium.ttf);
}

@font-face {
  font-family: Urbanist-Regular;
  src: url(/fonts/Urbanist-Regular.ttf);
}

@font-face {
  font-family: Urbanist-Bold;
  src: url(/fonts/Urbanist-Bold.ttf);
}

body{
  background-color: #FDFEFB;
  font-family: Urbanist-Regular;
}

h1{
  font-family: Urbanist-Bold;
  font-size: 3rem;
}

h2{
  font-family: Urbanist-Medium;
  font-size: 2.5rem;
  line-height: 5rem;
}

h3{
  font-family: Urbanist-Bold;
}

p{
  font-size: 1.1rem;
  line-height: 1.7rem;
}

a{
  text-decoration: none;
}

.btn{
  padding: 1em 2em;
  border-radius: 12px;
  border: none;
  color: #393939;
  background-color: #CBEA7B;
}

img{
  max-width: 100%;
}