.blogs{
    background-color: #F6FBE9;
    padding: 5em 0;
}
.blogs-heading-wrapper{
    text-align: center;
}

.blogpost-wrapper{
    display: flex;
    width: 80%;
    margin: 3em auto;
    gap: 2em;
}

.blogpost-card{
    background-color: #EEF8D3;
    width: 50%;
    padding: 1.5em 1.5em 3em 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 16px;
}

.blog-card-author-infos{
    display: flex;
    justify-content: space-between;
    background-color: #F6FBE9;
    padding: 1em;
    border-radius: 12px;
}

.author-infos{
    display: flex;
    gap: 1em;
}

.blog-category, .blog-article-heading, .blog-card-description{
    padding: 0 1em;
}

.blogs-heading-wrapper p{
    width: 70%;
    margin: 0 auto;
}

@media (max-width: 786px) {

    .blogpost-wrapper{
        flex-direction: column;
    }

    .blogpost-card{
        width: 100%;
    }
}

@media (max-width: 1250px) {

    .blog-card-author-infos img{
        width: 30%;
    }
}