.calculator{
    background-color: #F6FBE9;
    padding: 5em 0;
    margin: 0 auto;
    
}
.calculator h2, .calculator p{
    text-align: center;
}

.calc-inner-input-wrapper{
    width: 80%;
    margin: 2em auto;
    text-align: center;
    background-color: #FAFDF2;
    padding: 3em 0;
    border-radius: 16px;
}


.calc-input-wrapper input[type="number"], .calc-input-wrapper select{
    padding: 1em 2em;
    width: 40%;
    border-radius: 12px;
    border: none;
    margin: 1em;
}
    

.gender-radio-wrapper{
    display: flex;
    gap:1em;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

.calc-heading-wrapper p {
    width: 70%;
    margin: 0 auto;
}

.result{
    margin-top: 2em;
}

.result h3{
    margin-top: 0.5em;
}


@media (max-width: 786px) {
    .calc-inner-input-wrapper{
        display: flex;
        flex-direction: column;
    }

    .calc-input-wrapper input[type="number"], .calc-input-wrapper select{
        width: 90%;
    }
    .calculator h2{
        padding: 0 1.5em;
    }
}