.calculator{
    margin: 5em 0;
}
.calculator h2, .calculator p{
    text-align: center;
}

.calc-input-wrapper{
    padding: 3em 0;
    margin: 0 auto;
    width: 90%;
    background-color: #FAFDF2;
}

.calc-input-wrapper input[type="number"], .calc-input-wrapper select{
    padding: 1em 2em;
    width: 40%;
    border-radius: 12px;
    border: none;
    margin: 1em;
}

.gender-radio-wrapper{
    display: flex;
    gap:1em;
    align-items: center;
    justify-content: center;
}
