header{
    display: flex;
    justify-content: space-between;
    padding: 2em 2em;
    background-color: #393939;
    color: #fff;
}

.nav-right{
    display: flex;
    align-items: center;
    gap: 2em;
}

nav a{
    color: #fff;
    padding: 1em;
}